<ion-view view-title="Account Settings" hide-nav-bar="false" hide-back-button="false">
  <ion-nav-buttons side="primary">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content ng-controller="MainTeacherCtrl">
    <!-- TODO: tell the current logged in user -->
    <div ng-switch="authObject == null">
      <div class="list">
        <div ng-switch-when="true">
          <div class="item item-divider">Account</div>
          <div class="item button button-block button-royal" ng-click="showLoginModal()">Login</div>
          <div class="item button button-block button-royal" ng-click="showSignupModal()">Sign up</div>
        </div>
        <div ng-switch-when="false">
          <div class="item item-divider">Navigation</div>
          <div class="item button button-block button-royal" ng-click="goClasses()">My Classes</div>
          <div class="item item-divider">Account</div>
          <div class="button button-block button-assertive" ng-click="doLogout()">Log out</div>
        </div>
        <div class="item item-divider">Device Settings</div>
        <!-- TODO: add any device settings -->
      </div>
    </div>
  </ion-content>
</ion-view>
