<ion-view view-title="Student" hide-nav-bar="false" hide-back-button="false">
  <ion-content scroll="false">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" ng-model="input.id" placeholder="Class ID">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="input.name" placeholder="Nickname">
      </label>
    </div>
    <div class="button button-block button-royal" ng-click="goSession()">Join Class</div>
  </ion-content>
</ion-view>
